<!DOCTYPE HTML>

<html lang="en">

    <head>
        <title>Recruiter Dashboard</title>
    </head>

    <body>

        <a href="{{ url_for('index') }}">Dashboard</a>
        <a href="{{ url_for('logout') }}">Logout</a>

        <h1>Company: {{ company }}</h1>

        <form action="{{ url_for('create_job_opening') }}" method="post">
            <input type="text" name="title" id="title" placeholder="Job title" required/>
            <button type="submit">Submit</button>
        </form>

        {% for opening in jobopenings %}
        <p>{{opening[0]}}</p>
        {% endfor %}
    </body>

</html>
